#Name: PillarTracker GUI
#Developer: Xu Xiaochun
#Affiliation: MechanoBiology Institute, Singapore (http://mbi.nus.edu.sg/)
#contact: mbixxc@nus.edu.sg

# Generate the jar file using:
#    jar cvfM Pillar_Tracker_GUI.jar *

# macro commands
Plugins>MBI-PillarTracker , "Create_Selections...", com.nus.mbi.pillar.tracker.pillar_detector_match_filter(" ")
Plugins>MBI-PillarTracker , "Pillar Tracking", com.nus.mbi.pillar.tracker.pillar_tracking("checkonce")
Plugins>MBI-PillarTracker , "Pillar Tracking FD", com.nus.mbi.pillar.tracker.pillar_tracking_FD("checkonce")
Plugins>MBI-PillarTracker >Tools, "Extract Kernel...", com.nus.mbi.pillar.tracker.PSF_Extraction_Plugin(" ")
Plugins>MBI-PillarTracker >Tools, "Image Enhancement", com.nus.mbi.pillar.detection.CrossCorreclation_Plugin("")
Plugins>MBI-PillarTracker >Tools, "Curve Fit For Gaussian", com.nus.mbi.pillar.tracker.pillar_sigma_curve_fit(" ")
Plugins>MBI-PillarTracker >Tools, "-"

# GUI 
Plugins>MBI-PillarTracker >Tools, "Export to Grid Format", com.nus.mbi.pillar.grid.Grid_Creation_Plugin(" ")
Plugins>MBI-PillarTracker , "-"
Plugins>MBI-PillarTracker , "PillarTracker GUI", com.nus.mbi.pillar.tracker.gui.Pillar_Tracker_Plugin(" ")
Plugins>MBI-PillarTracker , "Documentation", com.nus.mbi.pillar.tracker.gui.Pillar_Tracker_Documentation(" ")

